* {
    font-family: monospace;
}
h1 {
    font-size: 20px;
}
#contenedor-grid {
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 50px;
    max-width: 300px;
    margin: auto;
}
#uno {
    background-color: aqua;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}
#dos {
    background-color: blueviolet;
    grid-row: 1/2;
    grid-column: 2/3;
}
#tres {
    background-color: darkgoldenrod;
}
